<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testing</title>
</head>
<body>
<h1>Contoh menampilkan html di Golang</h1>
<h2>{{.name}} sedang training {{.training}} selama {{.duration}}</h2>

<form action="/testing" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="number" name="age" placeholder="Umur">
    <button type="submit">Kirim</button>
</form>
</body>`    
</html>